* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#pantalla {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  overflow: hidden;
  z-index: 0;
}

.nau {
  position: absolute;
  z-index: 1;
}

.jugador {
    background-image: url("img/nave.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.enemic {
    background-image: url("img/marciano.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
}

.asteroide {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#infoPartida {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 220px;
  z-index: 2;
}

#infoPartida > p {
  margin: 0.5rem 0;
}
